// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap-icons/font/bootstrap-icons.css';

* {
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    list-style: none;
    text-decoration: none;
  }